<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.w3axis.sharehub"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="21" />
    <uses-permission android:name="android.permission.READ_CONTACTS"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name" 
        android:name="com.musicsharing.dashboard.App">
        <activity
            android:name="com.musicsharing.account.LoginActivity"
            android:theme="@style/Theme.Example"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
         <activity
            android:name="com.musicsharing.dashboard.DashboardActivity" android:theme="@style/Theme.Example" >
        </activity> 
        <activity android:name="com.musicsharing.account.RegistrationActivity" android:theme="@style/Theme.Example">
        </activity>
        <activity android:name="com.musicsharing.account.VerificationActivity" android:theme="@style/Theme.Example" >
        </activity>
        <activity android:name="com.musicsharing.connections.PendingConnectionActivity" android:theme="@style/Theme.Example"></activity>
        <activity android:name="com.musicsharing.MyMedialibray.AddMusicToLibraryActivity" android:theme="@style/Theme.Example"></activity>
        <activity android:name="com.musicsharing.connections.FriendLibraryActivity" android:theme="@style/Theme.Example"></activity>
        <activity android:name="com.musicsharing.connections.NewConnectionActivity" android:theme="@style/Theme.Example"></activity>
        <activity android:name="com.musicsharing.FriemdSavedMediaLibrary.FriendSavedMediaListActivity" android:theme="@style/Theme.Example"></activity>
        <activity android:name="com.musicsharing.FriemdSavedMediaLibrary.AudioPlayer" ></activity>
        <service android:enabled="true" android:name="com.musicsharing.connections.UpdateMyStatus"></service>
        <receiver android:name="com.musicsharing.connections.AlarmReceiver"></receiver>
    </application>

</manifest>